#!/usr/bin/env python3

import requests,json

certificate = "{{ ipam_certificat }}"
headers = {
'x-ipm-username': "{{ ipam_headers_username }}",
'x-ipm-password': "{{ ipam_headers_password }}",
'cache-control': "no-cache"
}

##################################################################
# Requete 1 : recherche IP Libre dans subnet
url = "{{ url_find_free_ip }}"
queryfreeip = {"subnet_id":"{{ ipam_subnet }}","max_find":"1"}

response = requests.request("OPTIONS", url, headers=headers, params=queryfreeip, verify=certificate)
#print(response.text)

# Convertion Object python response en JSON
json_response = json.dumps(response.json(), indent=2)

print(json_response)

# Convertion JSON en Object python (string)
string_response = json.loads(json_response)[0]
# Extract possible 
# [{"errno":"0","ip_addr":"c0a87b01","hostaddr":"192.168.123.1","subnet_name":"NET-APPS-INT","site_id":"2","site_name":"CPR","pool_name":"","subnet_id":"284","pool_id":"0"}]
# string_response["errno"]
# string_response["ip_addr"] => IP en hexadecimal 
# string_response["hostaddr"] => IP
# string_response["subnet_name"] => Nom du reseau parent
# string_response["site_id"]
# string_response["site_name"]
# string_response["pool_name"]
# string_response["subnet_id"]
# string_response["pool_id"]

host_ip = string_response["hostaddr"]
