#-------------------------------------------------------------------------------------------------------------------------------------
#	composant:	CronServicesCtrlProductionKid.sh
#	Objet:		Tâches planifiées de services composites 
#	Severite:	Tres importante (ne pas modifier)
#	Destination:	serveur ksl
#
#-------------------------------------------------------------------------------------------------------------------------------------

# source Config 
. {{ ksl_cron }}/CronKsl.cfg


#--------------------------------
#  KSL Kid
#--------------------------------

$CLT_DIR/clientc NomServeur=${Ksl_server}:2000 NomProjet=KSL_M VersionProjet=2.0 EtatProjet=Production Utilisateur=KSL Motdepasse=KSL Service=SC_Script_Verification_Prod_Day Synchrone=N
$CLT_DIR/clientc NomServeur=${Ksl_server}:2000 NomProjet=MALADIE_KID VersionProjet=1.0 EtatProjet=Production Utilisateur=KSL Motdepasse=KSL Service=SC_Script_Verification_Prod_Day Synchrone=N
$CLT_DIR/clientc NomServeur=${Ksl_server}:2000 NomProjet=PENSION_KID_PROD VersionProjet=1.3 EtatProjet=Production Utilisateur=KSL Motdepasse=KSL Service=SC_Script_Verification_Prod_Day Synchrone=N
$CLT_DIR/clientc NomServeur=${Ksl_server}:2000 NomProjet=POST_CPR VersionProjet=1.0 EtatProjet=Production Utilisateur=KSL Motdepasse=KSL Service=SC_Script_Verification_Prod_Day Synchrone=N
$CLT_DIR/clientc NomServeur=${Ksl_server}:2000 NomProjet=TRANSVERSE_KID_PROD VersionProjet=1.0 EtatProjet=Production Utilisateur=KSL Motdepasse=KSL Service=SC_Script_Verification_Prod_Day Synchrone=N
