#-------------------------------------------------------------------------------------------------------------------------------------
#	composant:	CronServicesKID_M.sh
#	Objet:		Tâches planifiées de services composites 
#	Severite:	Tres importante (ne pas modifier)
#	Destination:	serveur ${Ksl_server}
#
#-------------------------------------------------------------------------------------------------------------------------------------
#set -x 


. {{ ksl_cron }}/CronKsl.cfg

#--------------------------------
#  KSL Kid
#--------------------------------

${CLT_DIR}/clientc NomServeur=${Ksl_server}:2000 NomProjet=KSL_M VersionProjet=2.0 EtatProjet=Production Utilisateur=KSL Motdepasse=KSL Service=KID_GenerationFluxImpressionEtFluxGEDMSA Synchrone=N