#chemin:retention:type_de_fichier:nommage(facultatif)
/editique/ksl/KSL_SERVER/tmp/:1:f::
/datas/recette/m13/td/cpr/gen/save/:15:f::
/datas/recette/m13/td/cpr/gen/xmlgen/:15:f::
/datas/recette/m13/td/cpr/kid/save/:15:f::
/datas/recette/m13/td/cpr/post/save/:15:f::
/datas/recette/m13/td/cpr/post/tmp/:15:f::
/datas/recette/m13/td/gcos/save/:15:f::
/datas/recette/m13/td/gcos/xmlgen/:15:f::
/datas/recette/m13/td/edms/KID/save_LOT/:15:d:20*:
/datas/recette/m13/td/edms/ESPP/save_LOT/:15:d:20*:
/datas/recette/m13/td/etats/save/:15:f::
/datas/recette/m13/td/stde/save/:15:f::
/datas/recette/m13/td/stde/xmlstde/:15:f::
/datas/recette/m13/td/grana/save/:15:f::
/datas/recette/m13/td/grana/xmlfgic/:15:f::
/datas/recette/m13/td/decm/save/:15:f::
/datas/recette/m13/td/decm/xmldecm/:15:f::
/datas/recette/m13/td/fds/save/:15:f::
/datas/simu/m13/td/cpr/gen/save/:15:f::
/datas/simu/m13/td/cpr/gen/xmlgen/:15:f::
/datas/simu/m13/td/cpr/kid/save/:15:f::
/datas/simu/m13/td/cpr/post/save/:15:f::
/datas/simu/m13/td/cpr/post/tmp/:15:f::
/datas/simu/m13/td/gcos/save/:15:f::
/datas/simu/m13/td/gcos/xmlgen/:15:f::
/datas/simu/m13/td/edms/KID/save_LOT/:15:d:20*:
/datas/simu/m13/td/etats/save/:15:f::
/datas/simu/m13/td/stde/save/:15:f::
/datas/simu/m13/td/stde/xmlstde/:15:f::
/datas/simu/m13/td/grana/save/:15:f::
/datas/simu/m13/td/grana/xmlfgic/:15:f::
/datas/simu/m13/td/decm/save/:15:f::
/datas/simu/m13/td/decm/xmldecm/:15:f::