#!/bin/bash
set -x

password_old="ansible"
password_new="$2"

key_to_del_keyconan="$3"
key_to_del_lansweeper="$4"

# Si mdp non secure 
sshpass -p ${password_old} ssh -T -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o LogLevel=ERROR -o ConnectTimeout=5 ansible@$1 <<EOF

# Suppression clef ssh inutile
cd /home/ansible/.ssh
sed -i "/"$key_to_del_keyconan"/d" authorized_keys
sed -i "/"$key_to_del_lansweeper"/d" authorized_keys

# Change mdp 
passwd
${password_old}
${password_new}
${password_new}

EOF

if [ $? -eq 0 ]
then
    echo "Success: Password ansible et authorized_keys mis a jour."
    #printf "$1;ansible;$2\n" >> {{ fichier_pass }}
    exit 0
else
    # Si mdp ansible deja OK connect direct avec id_rsa sinon ssh passe pas.
    ssh -i /home/ansible/.ssh/id_rsa ansible@$1 <<EOF2
        cd /home/ansible/.ssh
        sed -i "/"$key_to_del_keyconan"/d" authorized_keys
        sed -i "/"$key_to_del_lansweeper"/d" authorized_keys
EOF2
    if [ $? -eq 0 ]
    then
        echo "Success: authorized_keys mis a jour."
        exit 0
    else
        echo "Failure: Connexion refusee, password incorrect ?" >&2
        exit 1
    fi
fi

exit